---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icontcr.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Todo con Redes</title>
	</head>
	<body>
		<h1>Todo con Redes</h1>
		<h2>Hola</h2>
	</body>
</html>
